[build]
  base = ""
  # Installs backend deps, then frontend deps, then builds
  command = "npm install && cd frontend && npm install --include=dev && npm run build"
  publish = "frontend/dist"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["express", "mongoose", "serverless-http"]

[[redirects]]
  from = "/api/*"
  # We send the request to the function, but KEEP the full path
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200