[build]
  base = ""
  # Installs backend deps, then frontend deps, then builds
  command = "npm install && cd frontend && npm install --include=dev && npm run build"
  publish = "frontend/dist"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["express", "mongoose", "serverless-http"]

[[redirects]]
  # This takes /api/products and sends /api/products to the function
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[[redirects]]
  # Keeps React Router working on page refresh
  from = "/*"
  to = "/index.html"
  status = 200